<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html:: navbar}"></div>
<h4>로그인하세요</h4>
<div th:if="${param.error}">
    <h4>아이디나 비번 틀림</h4>
</div>
<form action="/login" method="POST">
    <label name="username" id="username">아이디
        <input name="username">
    </label>
    <label name="password" id="password">비밀번호
        <input name="password" type="password">
    </label>
    <button type="submit">전송</button>
</form>

</body>
</html>