<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html:: navbar}"></div>
<form action="/addMember" method="POST">
    <h1>회원가입</h1>
    <label for="username">id</label>
    <input type="text" name="username" id="username" />
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password" />
    <label for="displayName">닉네임</label>
    <input type="text" name="displayName" id="displayName"/>
    <button type="submit">회원가입</button>
</form>
</body>
</html>